* {
    font-family: Arial, Helvetica, sans-serif;
}
/* navgation bar */

body {
    margin: 0;
    background-color: black;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(.270turn, black, grey);
}

nav p {
    color: white;
    font-size: 15pt;
}

a {
    border-radius: 5pt;
    padding: 0.5%;
    background-color: darkgrey;
    text-decoration: none;
    color: black;
    font-size: 15pt;
    text-align: center;
}

a:hover {
background-color: rgb(189, 189, 236);
}


/* poster section */
main { 
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    height: 85vh;
    width: 90%;
    margin: auto;
}

/* optional user inputed title */
main h1 {
    visibility: hidden;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    font-size: 24px;
    flex-basis: 100%;
    width: 50%;
    max-height: 300px;
    

}
/* image pulled from nasa api */
img {
    display: block;
    margin:0 auto;
    height: 95%;
    width: 95%;
    padding: 1%;
}
/* quote pulled from quote api */
main h2 {
    position: relative;
    bottom: 14%;
    margin: 0 auto;
    width: 95%;
    background-color: black;
    text-align: center;
    border: none;
    border-radius: 5pt;
    padding: 0.5%;
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-family:'Tektur','Handjet', 'Press Start 2P',  cursive;
}



/* modal */

.modal {
    display: none;
    flex-wrap: wrap;
    z-index: 1;
    margin: auto;
    position: absolute;
    left: 40%;
    top: 40%;
    animation-name: animatetop;
    animation-duration: 1s;
    justify-content: center;
    width: 20%;
    background-color: white;
    align-items: center;
    border: solid 5px lightblue;
    height: 25%;
    background-color: black;
    color: white;
}

.modal button {
    width: 50%;
    font-size: 1vw;
}

.modal p {
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
    color: white;
}

.modal input {
    width: 100%;
    background-color: white;
}


/* buttons */

.buttons {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    padding: 1%;
    gap: 20px;
}

.buttons a {
    width: 30%;
}

button {
    width: 30%;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 5pt;
    padding: 0.5%;
    background-color: darkgrey;
    text-decoration: none;
    color: black;
    font-size: 15pt;

}

button:hover {
    cursor: pointer;
    background-color: rgb(189, 189, 236);
}   



@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 40%; opacity: 1}
}


/* increase font size and reposition modal for mobile */
@media screen and (max-width: 768px) {

    .modal {
        width: 40%;
        left: 30%;
    }

    .modal p {
        font-size: 5vw;
    }
    

    .modal button {
        width: 50%;
        font-size: 4vw;
    }

    main h2 {
        font-size: 3vw;
    }
}

