* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 0;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    border-radius: 5px;
    background: black;
}

#website-name {
    font-size: 200%;
}

#page-title {
    margin: 25px;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
}

main {
display: flex;
flex-direction: column;
align-items: center;

}

/* images */

#nasa-images {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(0, 0, 1);
    height: 500px;
    width: 40%;
    position: relative;
}

#nasa-img {
    height: 100%;
    max-width: 40%;
    max-width: 500px;
}

.prev-btn,
.next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 230px;
    width: 35px;
    height: 35px;
    border-radius: 150px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.btn i {
    font-size: 30px;
}

/* quotes */
#quotesDiv {
    position: relative;
    background: rgb(231, 231, 245);
    height: 500px;
    width: 40%;
    object-fit: contain;
    font-size: xx-large;
    text-align: center;
    padding: 4%;
    overflow: auto;
}


#generatePosterBtn {
    font-size: 18px;
    width: 75.5%;
    transition: 0.3s;
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius:0;
}


@media screen and (max-width: 768px) {
    body {
        padding: 20px;
    }

    #container {
        flex-direction: column;
    }

    #quotesDiv,
    #nasa-images {
        position: relative;
        height: 300px;
        width: 100%;
    }

    .prev-btn,
    .next-btn {
        top: 150px;
    }
}

@media screen and (max-width: 576px) {
    body {
        padding: 10px;
    }

    #quotesDiv,
    #nasa-images {
        height: 200px;
        width: 100%;
    }

    .prev-btn,
    .next-btn {
        top: 100px;
    }
}